.footer {
    padding-bottom: 25px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__list {
    display: flex;
    gap: 18px;
}

.footer__link {
    font-size: 16px;
    line-height: 18px;
}

.footer__copy-text {
    font-size: 14px;
    line-height: 16px;
}