.hero {
    margin-bottom: 90px;
    text-align: center;
}

.hero__title {
    font-size: 96px;
    line-height: 1;
    margin-bottom: 30px;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.hero__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 60px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.hero__image {
    display: block;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 90px;
}

.hero__image img {
    width: 100%;
}

.hero__image::after {
    content: 'ваша полка — верхняя';
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 10px;
    letter-spacing: 1.5px;
    line-height: 14px;
}

.hero__stats {
    text-align: start;
}

.hero__stats-title {
    font-size: 54px;
    line-height: 58px;
    font-weight: bold;
    margin-bottom: 40px;
}

.hero__stats-text {
    font-size: 16px;
    margin-bottom: 33px;
    max-width: 690px;
    line-height: 1.6;
}

.hero__stats-list__item {
    font-size: 12px;
    line-height: 18px;
}